//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
.brand-logo{
  svg{
    height: 60px;
    width: 60px;
  }
}
.brand-logo{
  img{
    height: 46px;
    width: 46px;
  }
}
